{% extends 'base.html.twig' %}

{% block body %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Viande</h1>
                <p class="lead text-body-secondary">Découvrez nos viandes.</p>
            </div>
        </div>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for viande in viandes %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ viande.image }}" class="bd-placeholder-img card-img-top" width="100%" height="225">
                                <div class="card-body">
                                    <p class="card-text">{{ viande.description }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        {# <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                        </div> #}
                                        <h4 class="text-body-secondary">{{ viande.name }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
